@theme {
    /* Green Neon */
    --color-primary: #39FF14;
    /* Blue Neon */
    --color-secondary: #1F51FF;
    /* Dark Blue */
    --color-dark-blue: #0f172a;
    /* Blue Hover */
    --color-blue-hover: #162d4a;
}