# node modules
/node_modules/*

# env
.env

# base css
/public/css/base.css

# database schemas
/database-schemas.txt

# All files on /public/uploads/kop-surat
/public/uploads/kop-surat/*
!/public/uploads/kop-surat/.gitkeep

# Storage
/storage/signatures/*
!/storage/signatures/.gitkeep